@page "/"

<PageTitle>Find Out What Your Money Supports - Vote With Your Wallet</PageTitle>

<RadzenLayout>
    <RadzenBody class="mt-xs-4">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <a href="/" class="vwyw-logo-link">
                        <img src="vwyw-logo-horizontal-one.png" class="img-fluid" alt="Vote With Your Wallet"/>
                    </a>
                </div>
            </div>
            
            <div class="card p-md-3 mt-3 mb-3">
                <div class="card-body">
                    
                    <div class="row">
                        <div class="col-md-3">
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <a href="/Retailers" class="d-flex align-items-center" style="text-decoration: none; border-bottom: none;">
                                        <RadzenIcon Icon="storefront"/>
                                        Retailers
                                    </a>
                                </li>
                                <li class="list-group-item">
                                    <a href="/Brands" class="d-flex align-items-center" style="text-decoration: none; border-bottom: none;">
                                        <RadzenIcon Icon="box"/>
                                        Brands
                                    </a>
                                </li>
                            </ul>
                            
                            <ul class="list-group mt-3">
                                <li class="list-group-item">
                                    <a href="/Subjects/Add" class="d-flex align-items-center" style="text-decoration: none; border-bottom: none;">
                                        <RadzenIcon Icon="add"/>
                                        Suggest
                                    </a>
                                </li>
                            </ul>
                        </div>
                        
                        <div class="col-md-9 col-xs-12">
                            <p class="mt-md-2 mb-md-5 p-3 d-none d-md-block" style="font-size: 2rem; line-height: 2.5rem;">
                                <abbr title="Vote With Your Wallet">VWYW</abbr> is a crowdsourced, peer reviewed database of social responsibility scores for organizations. You deserve to know where your hard-earned money is being spent.
                            </p>
                            
                            <p class="mt-md-2 mb-md-5 p-3 d-md-none" style="font-size: 1.1rem; line-height: 1.5rem;">
                                <abbr title="Vote With Your Wallet">VWYW</abbr> is a crowdsourced, peer reviewed database of social responsibility scores for organizations. You deserve to know where your hard-earned money is being spent.
                            </p>
                            
                            <p class="mt-md-5 mb-md-2 p-3 d-none d-md-block" style="font-size: 1.5em; line-height: 1.5em; font-style: italic;">
                                "There is only one boss. The customer. And he [or she] can fire everybody in the company from the chairman on down, simply by spending his [or her] money somewhere else."
                                <br/>
                                &mdash; Sam Walton
                            </p>

                            <p class="mt-md-5 mb-md-2 p-3 d-md-none" style="font-size: .75em; line-height: 1.5em; font-style: italic;">
                                "There is only one boss. The customer. And he [or she] can fire everybody in the company from the chairman on down, simply by spending his [or her] money somewhere else."
                                <br/>
                                &mdash; Sam Walton
                            </p>
                        </div>
                    </div>
                    
                    @* <div class="d-flex flex-wrap justify-content-start mb-3 d-none d-md-inline-flex"> *@
                    @*     <RadzenLink Path="Retailers" Text="View Retailers" Icon="storefront" class="vwyw-nav-link d-flex align-items-center"/> *@
                    @*     <RadzenLink Path="Brands" Text="View Brands" Icon="box" class="vwyw-nav-link d-flex align-items-center"/> *@
                    @*     <RadzenLink Path="Subjects/Add" Text="Add" Icon="add" class="vwyw-nav-link d-flex align-items-center"/> *@
                    @* </div> *@
                    @* *@
                    @* <div class="d-flex flex-wrap justify-content-start mb-3 d-md-none"> *@
                    @*     <RadzenLink Path="Retailers" Text="Retailers" Icon="storefront" class="vwyw-nav-link vwyw-nav-link-sm d-flex align-items-center"/> *@
                    @*     <RadzenLink Path="Brands" Text="Brands" Icon="box" class="vwyw-nav-link vwyw-nav-link-sm d-flex align-items-center"/> *@
                    @*     <RadzenLink Path="Subjects/Add" Text="Add" Icon="add" class="vwyw-nav-link vwyw-nav-link-sm d-flex align-items-center"/> *@
                    @* </div> *@

                </div>
            </div>

            <footer>
                <p>&copy; Copyright 2025, Joshua Shane Martin</p>
            </footer>
        </div>
    </RadzenBody>
</RadzenLayout>
